/* 전체 선택 */
* {
    font-family: "nanum gothic";
}

/* 내부 선택*/
ul li {
    font-style: italic;
} 

/* 동시 선택*/
li.key {    /*li이면서 동시에 key라는 속성*/
    color : red;
}

/*상태별 선택*/
li:hover {  /*hover는  커서를 올린 상태를 뜻함*/
    background-color: purple;
}